<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Savannah Vintage Lounge</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-SUN: 24/7 Hours</span></i>
      </div>

    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">Savannah Vintage Lounge</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
          <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
          <!--<li><a class="nav-link scrollto" href="#events">Events</a></li>
          <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>-->
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li class="dropdown"><a href="#"><span>Events</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#events">Birthdays</a></li>
              <li><a href="#testimonials">Day Events</a></li>
              <li><a href="#conference-booking">Conference Booking</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#book-a-room" class="book-a-table-btn scrollto d-none d-lg-flex">Book a Room</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1><span>Savannah Vintage Lounge</span></h1>
          <h2>Where Every Dish is a Culinary Journey, and Every Drink, an Adventure.</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="#book-a-room" class="btn-book animated fadeInUp scrollto">Book a Room</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in"
          data-aos-delay="200">
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="assets/img/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <div class="section-title">
              <h2>About</h2>
              <p>About Us</p>
            </div>
            <h3>Savannah Vintage Lounge and Accommodation</h3>
            <p class="fst-italic"> Here at Savannah we specialize at the following:</p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Exceptional Dining: Our diverse menu features mouthwatering
                signature steaks and the freshest seafood,
                all prepared with care and using the finest ingredients..</li>
              <li><i class="bi bi-check-circle"></i> Crafted Cocktails: Our expert bartenders create classic and unique
                cocktails that elevate your visit.</li>
              <li><i class="bi bi-check-circle"></i> Birthday Reservations: Celebrate special moments with us by
                reserving for birthday gatherings and events.
              <li><i class="bi bi-check-circle"></i> Room Reservations: Experience comfort and style with our room
                reservations, providing a complete hospitality experience.
            </ul>
            <p>
              At Savannah, we offer more than just a dining experience; we provide a gateway to unforgettable moments.
              Located in the heart of Mombasa, we curate an enticing array of culinary delights, an enticing drink menu,
              and
              comfortable accommodations to craft a holistic retreat for both food enthusiasts and adventure
              enthusiasts.
              Additionally, don't miss out on our gratitude-driven room reservation program, ensuring our guests receive
              the perfect accommodations tailored to their needs.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Ideal Location:</h4>
              <p>Savannah Vintage Lounge is located near the town so it is easier to be accessed and
                easier to have an accommodation if you are travelling or have just travelled to Mombasa.
              </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Quality and Freshness</h4>
              <p>In every dish and drink we serve, we prioritize quality and freshness above all.
                We are dedicated to sourcing the finest ingredients and ensuring that every bite
                and sip at our establishment is a truly delectable experience.
              </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4> Expertise and Chef's Specials</h4>
              <p>At Savannah Vintage Lounge, we're passionate about both our food and our cocktails.
                Our chef's expertise shines through in our delightful dishes, while our mixologists craft unique and
                tantalizing drinks that perfectly complement the dining experience.
                From classic favorites like martinis and mojitos to our own innovative creations,
                each cocktail is a work of art. We use only the finest spirits and fresh, handpicked ingredients to
                ensure
                each sip is a burst of flavor.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">Starters</li>
              <li data-filter=".filter-salads">Salads</li>
              <li data-filter=".filter-cocktails">Cocktails</li>
            </ul>
          </div>
        </div>
        <!--Starters-->
        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/springrolls.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Springrolls</a><span>Ksh 70.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/samosa.jpeg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Beef Samosa</a><span>Ksh 50.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/gizzard.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Chicken Gizzard</a><span>Ksh 450.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/vegesamosa.jpeg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Vegetable Samosa</a><span>Ksh 50.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/wings.jpeg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Chicken Wings</a><span>Ksh 450.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/meatball.jpeg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Meat Balls</a><span>Ksh 300.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/DRUMSTICKS.jpeg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Chicken Drumsticks</a><span>Ksh 500.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <!--End Starters-->
          <!--Salads-->

          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/ss.jpeg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Savannah Salad</a><span>Ksh 200.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/greeni.jpeg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Green Wood Salad</a><span>Ksh 300.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">White Wood Salad</a><span>Ksh 300.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mixed Vegetables Salad</a><span>Ksh 250.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/caesar.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Colestaw Salad</a><span>Ksh 150.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <!--End Salads-->
          <!--Coctails-->
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 1.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Sex On The Beach</a><span>Ksh 500.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 2.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Vibranium</a><span>Ksh 500.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 3.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Whiskey Sour</a><span>Ksh 400.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 4.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Old Fashioned</a><span>Ksh 400.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 5.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Long Island Iced</a><span>Ksh 500.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 6.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mojito</a><span>Ksh 500.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 7.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Adios Mother Fucker</a><span>Ksh 800.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 8.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Margarita</a><span>Ksh 500.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 9.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Acapulco</a><span>Ksh 400.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-cocktails">
            <img src="assets/img/menu/cock 10.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">JaggerBomb</a><span>Ksh 500.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <!--End Cocktails-->
        </div>

      </div>
      <style>
        /* Center the button */
        .center {
          text-align: center;
        }

        /* Style the button with a golden color */
        .golden-button {
          background-color: gold;
          color: rgb(26, 24, 24);
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 10px 2px;
          cursor: pointer;
        }
      </style>
      <div class="center">
        <a href="/menu" class="golden-button">Explore Menu</a>
      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Daily Specialities</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Monday</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Tuesday</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Wednesday</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Thursday</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Friday</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Marinated pork chops </h3>
                    <p class="fst-italic"></p>
                    <p>Elevate your dining experience with our tantalizing marinated pork chops, crafted to perfection to ignite your taste buds. Delight in the succulent flavors of premium pork, expertly marinated with a symphony of herbs and spices, ensuring every bite is a culinary adventure. Served alongside a medley of seasonal vegetables and your choice of side, each dish is a testament to our commitment to excellence in taste and presentation. 
                      Indulge in a gastronomic journey that celebrates the art of flavor, only at our esteemed hotel.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/No.1.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Chicken mtungo</h3>
                    <p class="fst-italic"></p>
                    <p>Embrace the flavors of tradition with our delectable Chicken Mtungo, a dish that embodies the essence of local cuisine. Tender chicken simmered in a rich coconut sauce, infused with aromatic spices and herbs, creates a symphony of flavors that dance on your palate. Paired with fragrant rice or warm chapati, each bite is a journey through the vibrant culinary landscape of our region. Experience the warmth of home-cooked goodness and 
                      the richness of authentic flavors with our Chicken Mtungo, a true delight for the senses..</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/No.2.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>White wood Salad</h3>
                    <p class="fst-italic"></p>
                    <p>Indulge in the timeless charm of our Whitewood Salad, a culinary masterpiece that pays homage to tradition while tantalizing your taste buds with its exquisite blend of flavors. Crisp, fresh greens adorned with succulent pieces of grilled chicken, tossed in a zesty vinaigrette dressing, 
                      evoke a sense of nostalgia for the simple pleasures of home-cooked goodness.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/No.3.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Green Wood Salad</h3>
                    <p class="fst-italic"></p>
                    <p>Indulge in our tantalizing Greenwood Salad – a vibrant medley of locally-sourced greens, juicy cherry tomatoes, creamy avocado, tangy feta, and crunchy walnuts, all brought together with a zesty lemon vinaigrette. Savor the 
                      freshness, support sustainability, and treat your taste buds to a symphony of flavors in every bite</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/No.4.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fish Fingers, Fry Served with Juice</h3>
                    <p class="fst-italic">Coconut Mbaazi, 2 mahamri, Beef consommé, 2 sausages, Nduma
                  </p>
                    <p>
                      Savor the ultimate comfort food experience with our delectable Fish Fingers, Fry. Crispy on the outside, tender on the inside, our golden fish fingers are served piping hot alongside a generous portion of perfectly seasoned fries. Paired perfectly with your choice of refreshing juice, this classic dish is a feast for the senses that will leave you craving more. 
                      Dive into flavor and indulge in a culinary delight that's sure to satisfy your cravings.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/No.5.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Birthdays</h2>
          <p>Organize Your Birthdays at Savannah</p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/BdayPckgs.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Bronze</h3>
                  <div class="price">
                    <p><span>KSHS 6000</span></p>
                  </div>
                  <p class="fst-italic">
                    Join us for a fantastic birthday celebration with our Bronze Package!
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> ➢	5-12 Packs
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Red Label 750ml
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	1Kg Mbuzi/Kuku/Beef
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Bottle Service
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	1Kg Cake
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Champagne
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/BdayPckgs.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Silver</h3>
                  <div class="price">
                    <p><span>KSHS 12000</span></p>
                  </div>
                  <p class="fst-italic">
                    Step up your birthday festivities with our Silver Package!
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> ➢	5-12 Packs
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Black Label 1L
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	2Kg Mbuzi/Kuku/Beef
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Bottle Service
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	1Kg Cake
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Champagne
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	5 Chasers
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/BdayPckgs.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Gold</h3>
                  <div class="price">
                    <p><span>KSHS 15000</span></p>
                  </div>
                  <p class="fst-italic">
                    For the ultimate birthday extravaganza, our Gold Package is the epitome of luxury and celebration.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> ➢	5-12 Packs
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Jaggermaster 700ml
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	2Kg Mbuzi/Kuku/Beef
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Bottle Service
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	1Kg Cake
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Fragolino
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	5 Chasers
                    </li>
                    <li><i class="bi bi-check-circled"></i> ➢	Singletone 12 Years
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-room" class="book-a-table">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Reservation</h2>
          <p>Book a Room</p>
        </div>
        <div class="row event-item">
          <div class="col-lg-6">
            <img src="assets/img/room.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <form action="/book-a-room" method="post" role="form" class="php-email-form" data-aos="fade-up"
              data-aos-delay="100">
              <div class="row">
                <div class="col-lg-4 col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars" required>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
                    data-msg="Please enter a valid email" required>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:10"
                    data-msg="Please enter at least 4 chars" required>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                  <input type="text" name="date" class="form-control" id="date" placeholder="Date YYYY-MM-DD" data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars" required>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                  <input type="text" class="form-control" name="time" id="time" placeholder="Time in 24hr (00:00)" step="60" pattern="[0-9]{2}:[0-9]{2}" required data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars" required>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" min = "1" max = "4"
                    data-msg="Please enter at least 1 chars" required>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm
                  your reservation. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Book a Room</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Book A Table Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/monday.jpg" class="img-events">

                <!-- <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                  quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p> -->
                <h3>Monday</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/tuesday.jpg" class="img-events">
                <!-- <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                  quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p> -->
                
                <h3>Tuesday</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/thursday.jpg" class="img-events">
                <!-- <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                  tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p> -->
                
                <h3>Thursday</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/friday.jpg" class="img-events">
                <!-- <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit
                  minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p> -->
                
                <h3>Friday</h3>
                
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/sunday.jpg" class="img-events">
                <!-- <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                  labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p> -->
                
                <h3>Supa Sunday</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/sundayy.jpg" class="img-events">
                <!-- <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                  labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p> -->
                
                <h3>Supa Sunday</h3>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

<style>
  .img-events {
    width: 600px;
    height: 500px;
  }
  .testimonial-item img {
    padding-right:200px;
  }
</style>

    </section><!-- End Testimonials Section -->



    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Gallery</h2>
          <p>Some photos from Our Restaurant</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-1.jpeg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-1.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-2.jpeg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-2.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-3.jpeg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-3.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-4.jpeg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-4.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-5.jpeg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-5.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-6.jpeg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-6.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-7.jpeg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-7.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-8.jpeg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-8.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d659.8141855219653!2d39.66488335744128!3d-4.045189094995891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x184012c718182139%3A0x65c1de907900234!2sKlub%20Savannah!5e0!3m2!1sen!2ske!4v1700041082525!5m2!1sen!2ske"
          width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Opp. Mombasa Municipal Stadium, Tononoka - Mombasa</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-Sunday:<br>
                  11:00 AM - 
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>savannah@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+254 707 975 285</p>
              </div>

            </div>

          </div>
          <div class="col-lg-8 mt-5 mt-lg-0" id="conference-booking">
            <div class="section-title">
              <h2>Reservation</h2>
              <p>Conference Booking</p>
            </div>

            <form action="conference-booking" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <!-- Change subject to phone number -->
                <input type="tel" class="form-control" name="phone" id="subject" placeholder="Phone Number" required>
              </div>
              <div class="form-group mt-3">
                <!-- Dynamic generation of the current date -->
                <% const currentDate = new Date().toISOString().split('T')[0]; %>
                <label for="fromDate">From Date</label>
                <input type="text" class="form-control" name="fromDate" id="fromDate" placeholder="YYYY-MM-DD" min="<%= currentDate %>" required>
              </div>
              <div class="form-group mt-3">
                <label for="toDate">To Date</label>
                <input type="text" class="form-control" name="toDate" id="toDate" placeholder="YYYY-MM-DD" min="<%= currentDate %>" required>
              </div>
              <!-- <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Conference reservation was successful. Thank you!</div>
              </div> -->
              <div class="text-center"><button type="submit">Book a conference</button></div>
            </form>
            
            

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Savannah Vintage Lounge</h3>
              <p>
                Opp. Mombasa Municipal Stadium, Tononoka - Mombasa, Tononoka <br>
                Mombasa<br><br>
                <strong>Phone:</strong> +254 707 975 825<br>
                <strong>Email:</strong> savannah@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#menu">Menu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#gallery">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#book-a-room">Book a room</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin-login" target="_blank">Staff</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Savannah Vintage Lounge</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">Danius</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>