<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Savannah Vintage Lounge</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <!--<link href="assets/vendor/aos/aos.css" rel="stylesheet">-->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    .menu #menu-flters li.slide {
      transition: margin-left 0.3s ease-in-out;
    }
  </style>


</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-SUN: 24/7 Hours</span></i>
      </div>


    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">Savannah Vintage Lounge</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
        </ul>
        <!-- <div class="languages d-none d-md-flex align-items-center">
          <a href="/admin-login">Admin</a>

        </div> -->
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->

  <section>

  </section><!-- End Hero -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
      </div>
      <section>
        <h1> BreakFast</h1>
      </section>
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-beverages">Hot Beverages</li>
          </ul>
        </div>
      </div>
      <!--Beverages-->
      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/milk-tea-recipe.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Tea pot</a><span>Ksh 120.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/white coffee.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">White coffee</a><span>Ksh 120.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/black coffee.jpeg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Black coffee</a><span>Ksh 120.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/lemon tea.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Lemon tea</a><span>Ksh 100.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/menu/black tea.jpeg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Black tea</a><span>Ksh 100.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/white choco.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">White Chocolate Tea</a><span>Ksh 150.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/hot dawa.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Hot Dawa</a><span>Ksh 200.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/masala-chai.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Masala Tea</a><span>Ksh 150.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/uji.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Uji</a><span>Ksh 150.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/white millo.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">White Milo Tea</a><span>Ksh 150.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/black millo.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Black Milo Tea</a><span>Ksh 150.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-beverages">
          <img src="assets/img/menu/ginger tea.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Ginger Tea</a><span>Ksh 120.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
      </div>
      <!--End Beverages-->
      <section>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-snacks">Snacks</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/samosa.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Samosa</a><span>Ksh 50.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/kebab.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">kebab</a><span>Ksh 100.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/Spanish Omellete.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Spanish Omellete</a><span>Ksh 150.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/Sweet potatoes.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Sweet potatoes</a><span>Ksh 100.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/plainomellette.jfif" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Plain Omellete</a><span>Ksh 120.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/French toast.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">French toast</a><span>Ksh 150.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/Sausages.jfif" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Sausages</a><span>Ksh 50.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/Nduma.jfif" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nduma</a><span>Ksh 100.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/pancakes.jfif" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Pancakes</a><span>Ksh 100.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/poachedeggs.jfif" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Poached Eggs</a><span>Ksh 120.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/scrambledeggs.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Scramble Eggs</a><span>Ksh 150.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/sunshinegg.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Sunshine Eggs</a><span>Ksh 120.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-snacks">
            <img src="assets/img/menu/friedegg.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Fried Eggs</a><span>Ksh 120.00</span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>


      <section>
        <h1> Main Course</h1>
      </section>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-beverages">Beef</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/beefdry.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Beef Dry</a><span>Ksh 480.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/beefwet.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Beef Wet</a><span>Ksh 480.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/beefstew.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Beef Stew</a><span>Ksh 480.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/savbeef.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Savannah Beef</a><span>Ksh 700.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/beefstrips.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Beef Strips</a><span>Ksh 650.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/beefmuggy.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Beef Muggy</a><span>Ksh 500.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/beefstroganoff.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Beef Stroganoff</a><span>Ksh 700.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/friedbeef.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Fried Beef</a><span>Ksh 480.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-beverages">Mutton</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/muttondry.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Mutton Dry</a><span>Ksh 480.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/muttonwet.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Mutton Wet</a><span>Ksh 480.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/muttonfry.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Fried Mutton</a><span>Ksh 480.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/muttonmuggy.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Mutton Muggy</a><span>Ksh 500.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/savmutton.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Savannah Muggy</a><span>Ksh 700.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/muttonstew.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Mutton Stew</a><span>Ksh 500.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>

        <!-- start chicken -->
        <section>
          <h1>Chicken </h1>
        </section>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-beverages">Kienyeji</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/chickenwet.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Kienyeji Wet</a><span>Ksh 780.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/chickenstew.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Kienyeji Stew</a><span>Ksh 780.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/savchicken.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Savannah Kienyeji</a><span>Ksh 950.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div></div>
       <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-beverages">Broilers</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/chickendeepfry.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Broiler Deep Dry</a><span>Ksh 500.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/chickenwet.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Broiler Wet</a><span>Ksh 500.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/chickenstew.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Broiler Stew</a><span>Ksh 500.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/savchicken.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Savannah Broiler</a><span>Ksh 700.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
      
        <section>
          <h1>Pork</h1>
        </section>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/porkdry.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Pork Dry Fry</a><span>Ksh 750.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div><div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/porkwet.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Pork Wet Fry</a><span>Ksh 780.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/grilledpork.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Grilled Pork</a><span>Ksh 750.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/savpork.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Savannah Pork</a><span>Ksh 950.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>

        
        <section>
          <h1>Fish</h1>
        </section>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-beverages">Tilapia</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/tilapiawet.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Tilapia Wet</a><span>Ksh 800.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div><div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/tilapiadry.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Tilapia Deep Dry</a><span>Ksh 800.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/tilapiastew.jfif" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Tilapia Stew</a><span>Ksh 800.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/savchicken.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Savannah Fish</a><span>Ksh 950.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/coconutilapia.jfif" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Coconut Tilapia</a><span>Ksh 850.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-beverages">Taffi Fish</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/deeptaffi.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Deep Fry Taffi</a><span>Ksh 600.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/taffiwet.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Wet Fry Taffi</a><span>Ksh 600.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/savtaffi.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Savannah Tafii</a><span>Ksh 850.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/cocotaffi.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Coconut Taffi</a><span>Ksh 650.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>

        <section>
          <h1>Platter</h1>
        </section>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/kienyejiplatter.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Kienyeji Platter</a><span>Ksh 900.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div><div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/muttonplatter.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Mutton Platter</a><span>Ksh 650.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/beefplatter.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Beef Platter</a><span>Ksh 650.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/liverplatter.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Ox-liver Platter</a><span>Ksh 800.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/kienyejiplatter.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Broiler Platter</a><span>Ksh 650.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/porkplatter.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Pork Platter</a><span>Ksh 950.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/meatplatter.jfif" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">General Meat Platter</a><span>Ksh 2500.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-snacks">
          <img src="assets/img/menu/fishplatter.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">General Fish Platter</a><span>Ksh 2500.00</span>
          </div>
          <div class="menu-ingredients">
          </div>
        </div>


      </section>
  </section>
  <!-- End Menu Section -->

  <script src="assets/js/alt.js"></script>

</body>